In [1]:
# ANS 1 :
# Data encoding 
# It is a process of converting a categorical feature into numerical because 
# when  we have to train a machine learning model we require numerical feature that why we we use 
# data encoding techniques

# It is useful in data science by simplyfying features of data to be trained by machine learning model
# and predicting some real life scenerios

In [2]:
# ANS 2 :
# Nominal Encoding
# Nominal Encoding is a technique used to transform categorical variable that have no intrinsic oedering
# into numerical values that can be used in machine learning models. One common method for nominal encoding
# is one - hot encoding which creates a binary vector for each category in the variable

# for example
# we working on house price  prediction model 
# features like   no. of rooms , location , size , price
# so, location is  a categorical feature 
# there are three locations hyderabad , banglore , mumbai
# so , it will create a sparse matrix  and add three more features 
# location             hyderbad    mumbai    banglore
# mumbai                 0           1          0
# banglore               0           0          1
# hyderabad              1           0          0

In [4]:
# ANS 3 :
#  nominal encoding and one-hot encoding depends on the specific problem, the nature of the data, 
#  and the machine learning algorithms being used.

# One-hot encoding can lead to a significant increase in the dimensionality of the dataset,
# especially when the categorical variable has a large number of unique categories. 
# This can result in a sparse matrix and computational inefficiency.
# nominal encoding can be preferred as it reduces the dimensionality by representing the categories with numerical codes.

# for example 
# if we work on financial project 
# Consider a dataset of online transactions where one of the categorical features is 
# "Product Category" and  has thousands of unique categories, using one-hot encoding would result in a very high-dimensional dataset. 
#  Nominal encoding can be a better choice as it reduces the dimensionality by encoding each category with a numerical code.
#  sparse matrix leads to overfitting.

In [5]:
# ANS 4 :
# If we have have 5 unique values in a categorical feature then we use One hot encoding
# Using one-hot encoding in this case would result in the creation of 5 binary variables, 
# where each variable represents one unique category. 
# These binary variables would be independent of each other, 
# allowing the machine learning algorithm to understand and learn the relationships between the different categories.

In [6]:
# ANS 5 :
#  we have 1000 rows and 5 columns and 2 columns are categorical
#  suppose x unique values are there in 1st categorical column
#  and y unique values are there in 2nd categorical column
#  x+y new columns will there

# for example 
# x=2
# y=3
# 5 new columns will there

In [7]:
# ANS 6 :
# In this dataset we use  one hot encoding technique because 
# as we see animals , species , diet , habitat  contains some unique categories 
# one hot encoding technique will very appropiate to use for converting into numerical feature 
# as all unique categories are equal so, we cant use ordinal or label encoding here

In [15]:
# ANS 7:
# 1st technique
# It is project that involves predicting customer churn for a telecommunications company.
# we have 5 features, including the customer's gender, age, contract type, monthly charges, and tenure.

# In this case we will use Target guided ordinal encoding
# It is a technique used to encode categorical variables based on their relationship with the target variable. 
# This encoding technique is useful when we have a categorical variable with a large number of unique categories, 
# and we want to use this variable as a feature in our machine learning model.
# we replace each category in the categorical variable with a 
# numerical value based on the mean or median of the target variable for that category

# we can use montly charges as target variable to convert categorical features like age , customers gender
# based on the realationship between them.

# steps
# 1. calculate the mean price  of each city
# mean_price = df.groupby('montly_charges')['age'].mean()

# 2. replace each city with mean price and map to original dataset
# df['encoded_age']=df['age'].map(mean_price)
# in this we can convert


# 2nd Technique 
# we can use ordinal encoder to categorical data to numeriacal data
# so we will use contract type and montly charges

# steps 
# 1.import the packade from sklearn.preprocessing import OrdinalEncoder

# define a dataframe

# 2. create an instance by giving categories
# ordinal = OrdinalEncoder(categories=[['duraton1','duration2','duration3']])

# 3. fit into model and transform it
# ordinal.fit_transform(df[['contract_Type']])